<p id="notice"><%= notice %></p>

<%= image_tag @product.photo.url(:small) %>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Info:</b>
  <%= @product.info %>
</p>

<p>
  <b>Balance:</b>
  <%= @product.balance %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Menu:</b>
  <%= @product.menu_id %>
</p>

<p>
  <b>Lft:</b>
  <%= @product.lft %>
</p>

<p>
  <b>Rgt:</b>
  <%= @product.rgt %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
